
<!DOCTYPE html>
<html lang="en">


<head>
    {{ partial "head.html" . }}
    <link rel="icon" href="/favicon.ico">
    <link rel="icon" href="/tamu.png" type="image/png">
    <link rel="shortcut icon" href="/favicon.ico">
  </head>

    <body>

        <div class="outer">
            <div class="middle">
                <div class="inner">
                    
                    {{- partial "header.html" . -}}
                    {{- partial "navigation.html" . -}}
                    
                    <main>
                        {{ block "main" . }} {{ end }}
                    </main>

                    {{- partial "footer.html" . -}}

                </div>
            </div>
        </div>

        {{- partial "math.html" . -}}

    </body>
</html>

